{$APP_DOMAIN} {
    root * /etc/caddy/errors

    handle {
        reverse_proxy app:3000 {
            lb_try_duration 2s
            lb_try_interval 250ms
        }
    }

    handle_errors {
        rewrite * /502.html
        file_server
    }
}