{$APP_DOMAIN} {
    reverse_proxy app:3000 {
        @error status 502 503
        handle_response @error {
            root * /etc/caddy/errors
            rewrite * /502.html
            file_server
        }
    }
}
