{$APP_DOMAIN} {
    handle_errors {
        @proxy_errors status 502 503
        handle @proxy_errors {
            root * /etc/caddy/errors
            file_server {
                try_files 502.html
            }
        }
    }
    reverse_proxy app:3000
}
